body{
    font-family: 'Times New Roman', Times, serif;
}

.cover{
    width: 100%;
    height: 300px;
    background-image: url(Imagenes/automatizacion-2500239.webp);
    color: rgb(249, 244, 244);
    background-position: center;

}
img{
    margin-left: 3%;
}
#empresa{
    text-align: center;
}
#servicios{
    text-align: center;
}
.conteiner-descrip{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 0%;
    font-size: 150%;
}
.right{
   margin-left: 15%  
}
#fon-prin{
    width: 70%;
    background-position: center;
}
.cover-small{
    height: 160px;
    width: 315;
    background-position: bottom;
}
.cover-small-2{
    height: 160px;
    width: 315;
    background-position: center;
    background-position: left;
}
.cover-small-3{
    height: 160px;
    width: 315;
    background-position: top;   
}
.cover-small-4{
    height: 160px;
    width: 315;
    background-position: top;   
}
.card-text{
      min-height: 1rem;
}
h6{
    margin-left: 2%;
}
.card-list{
    min-height: 18rem;
}
.card-list-4{
    min-height: 21rem;
}
.card-list-1{
    margin-bottom: 41%;
}
.footer{
    background-color: rgb(123, 2, 26);
    
}
#copy{
    color: white;
    margin-left: 5%;
}
.navbar-button{
    margin-left: 90%;
}
.contactanos{
    color: white;
    margin-left: 5%;
}
